#poster
  %img{src: @movie.poster_url.to_s}

#movie
  #info
    #title
      %h1= @movie.title
    #description
      %p= @movie.description
    #trailer
      %i.icon-youtube-play
      =link_to "Watch the trailer on YouTube", @movie.trailer_url, {target: "blank"}

  #showtimes
    %h2.centered Showtimes

    %table
      %thead
        %th Location
        %th Time
      %tbody
        - @showtimes.each do |showtime|
          %tr
            %td= showtime.location
            %td= showtime.time
        - @comments.each do |comment|
          %tr
            %td= comment.comment

    = form_for [@movie, @showtime] do |f|
      .location
        = f.label :location
        = f.text_field :location

      .time
        = f.label :time
        = f.text_field :time

      .submit 
        = f.submit 'Create Showtime', :class => "button"
<<<<<<< HEAD
  #comments
    %h2.centered Comments
        
    %table
      %thead
=======

  #comments
    %h2.centered Comments

    %table
      %thead
        %th Username
>>>>>>> 1319bf24f2154fda62176a2eba528f669544384c
        %th Comment
      %tbody
        - @comments.each do |comment|
          %tr
<<<<<<< HEAD
            %td= comment.comment

    = form_for [@movie, @comment] do |f|
      .comment
=======
            %td= comment.user
            %td= comment.comment

    = form_for [@movie, @comment] do |f|
      .location
        = f.label :user
        = f.text_field :user

      .time
>>>>>>> 1319bf24f2154fda62176a2eba528f669544384c
        = f.label :comment
        = f.text_field :comment

      .submit 
        = f.submit 'Create Comment', :class => "button"
<<<<<<< HEAD









=======
>>>>>>> 1319bf24f2154fda62176a2eba528f669544384c
